@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hvpjdu');
  src:  url('fonts/icomoon.eot?hvpjdu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hvpjdu') format('truetype'),
    url('fonts/icomoon.woff?hvpjdu') format('woff'),
    url('fonts/icomoon.svg?hvpjdu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo .path1:before {
  content: "\e900";
}
.icon-logo .path2:before {
  content: "\e901";
  margin-left: -2.15625em;
}
.icon-logo .path3:before {
  content: "\e902";
  margin-left: -2.15625em;
}
.icon-logo .path4:before {
  content: "\e903";
  margin-left: -2.15625em;
}
